

body {
margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 233, 207);
  /* background-image: url('./img/forest.jpeg');
  background-size: cover;
  background-repeat: no-repeat; */
  color: black;
  opacity: 0.9;
}

.material-icons {
  margin-top: 4.5px;
  color: black
}



