.contex {
  display: flex;
  justify-content: center;
}

.resume {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@media only screen and (min-width: 700px) {
  .resume {
   overflow:hidden;
   width: fit-content;
  }
  }


